<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main}">

<title layout:fragment="head-title"
	th:text="|#{evaluateQuantities.title} - #{head.title}|">New
	Basic Project</title>

<ol layout:fragment="breadcrumb" class="breadcrumb">
	<li class="breadcrumb-item"><a th:href="@{/home}"
		th:text="#{menu.home}">Home</a></li>
	<li class="breadcrumb-item active"><a
		th:href="@{/evaluate-quantities}" th:text="#{menu.evaluateQuantities}">Evaluate
			Quantities</a></li>
	<li class="breadcrumb-item active" th:if="${basicProject.id != null}"><a
		th:href="@{/evaluate-quantities/{id}(id=${basicProject.id})}"><span
			th:text="#{basicProject.breadcrumb}">Basic Project</span>&nbsp;<span
			th:text="${basicProject.id}"></span></a></li>
</ol>

<div layout:fragment="content">
	<div class="card">
		<h4 class="card-header">
			<span th:text="#{basicProject.form.edit-card-header}"> Basic
				Project - </span> <span th:text="${basicProject.processNumber}"> </span>
		</h4>
		<div class="card-block">
			<div class="form-row">
				<div class="col-8">
					<div class="form-row">
						<div class="col-12">
							<span th:text="#{evaluateQuantities.requesterUser}">Requester</span>:&nbsp;<span
								th:text="${basicProject.requester?.name}"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12"
							th:if="${basicProject.releasedDateToQuantitiesEvaluation != null}">
							<span
								th:text="#{evaluateQuantities.releasedDateToQuantitiesEvaluation}"></span>:&nbsp;<span
								th:text="${#temporals.format(basicProject.releasedDateToQuantitiesEvaluation, 'dd/MM/yyyy HH:mm')}">...</span>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12">
							<span th:text="#{evaluateQuantities.solicitationType}">Solicitation
								Type</span>:&nbsp;<span
								th:text="#{${'basicProject.'+basicProject.solicitationType}}"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12">
							<span th:text="#{evaluateQuantities.unity}">Unity</span>:&nbsp;<span
								th:text="${basicProject.unity?.name}"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12">
							<span th:text="#{evaluateQuantities.object}">Object</span>:&nbsp;<span
								th:text="${basicProject.object}"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12">
							<span th:text="#{evaluateQuantities.justification}">Justification</span>:&nbsp;<span
								th:text="${basicProject.justification}"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12">
							<span th:text="#{evaluateQuantities.status}">STATUS</span>: <span
								id="status"
								th:text="#{${'basicProject.status.' + basicProject.status}}">N/S</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-12 evaluate-form-btns">
					<!-- TODO RNG019 -->
					<a type="button" class="btn btn-sm btn-export"
						th:if="${basicProject.id != null}" target="_blank"
						th:href="@{/evaluate-quantities/download?id={id}(id=${basicProject.id})}">
						<i class="fa fa-file-excel-o"></i> <span
						th:text="#{evaluateQuantities.btn.exportBasicProject}">Export
							Data</span>
					</a>
				</div>
			</div>
			<div th:if="${basicProject.returnReason != null}" id="returnReasonText">
				<div class="form-row">
					<div class="col-12">
						<span th:text="#{evaluateQuantities.returnReason}">Return
							Reason</span>:&nbsp;<span th:text="${basicProject.returnReason}"></span>
					</div>
				</div>
			</div>
			<form name="f" th:action="@{/evaluate-quantities/release}"
				th:object="${basicProject}" method="post" id="basicProjectForm">

				<div th:if="${#fields.hasGlobalErrors()}"
					class="alert alert-danger alert-dismissible">
					<span th:each="err : ${#fields.globalErrors()}" th:text="${err}"></span><br />
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div id="itemsTableHolder">
					<div th:fragment="projectItemsFragment"
						th:replace="/evaluate-quantities/fragments/itemsTable :: main"></div>
				</div>

				<input type="hidden" th:field="*{id}" />
				<!-- TODO nicolas RNG016 RNG020 RNG021 -->
				<button type="button" class="btn btn-warning float-right"
					th:if="*{id != null && !quantitiesEvaluationDisabled}"
					data-toggle="modal" id="release-form"
					data-target="#releaseConfirmationModal" name="action">
					<i class="fa fa-check-square"></i> <span
						th:text="#{evaluateQuantities.releaseForFinancialEvaluation}">Release
						for financial evaluation</span>
				</button>
				<div
					th:replace="/evaluate-quantities/fragments/releaseConfirmationModal :: main"></div>
			</form>
		</div>
	</div>
</div>

<th:block layout:fragment="css-view">
	<link th:href="@{/css/data-table.css}" rel="stylesheet">
	<link th:href="@{/css/basic-project.css}" rel="stylesheet">
	<link th:href="@{/css/evaluate-quantities.css}" rel="stylesheet">
</th:block>
<th:block layout:fragment="js-view">
	<script th:src="@{/js/evaluateQuantitiesScripts.js}"></script>
</th:block>
</html>