<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main}">

<title layout:fragment="head-title"
	th:text="${basicProject.id == null} ? |#{basicProject.form.title} - #{head.title}| : |#{basicProject.breadcrumb} ${basicProject.id} - #{head.title}|">New
	Basic Project</title>

<ol layout:fragment="breadcrumb" class="breadcrumb">
	<li class="breadcrumb-item"><a th:href="@{/home}" th:text="#{menu.home}">Home</a></li>
	<li class="breadcrumb-item"><a th:href="@{/basic-project}"
		th:text="#{menu.basicProjects}">Basic Project</a></li>
	<li class="breadcrumb-item active" th:if="${basicProject.id == null}"><a
		th:href="@{/basic-project/new}" th:text="#{menu.newBasicProject}">New
			Basic Project</a></li>
	<li class="breadcrumb-item active" th:if="${basicProject.id != null}"><a
		th:href="@{/basic-project/{id}(id=${basicProject.id})}"><span
			th:text="#{basicProject.breadcrumb}">Basic Project</span>&nbsp;<span
			th:text="${basicProject.id}"></span></a></li>
</ol>

<div layout:fragment="content">
	<div class="card">
		<h4 class="card-header">
			<span th:if="${basicProject.id == null}"
				th:text="#{basicProject.form.card-header}">New Basic Project</span>
			<span th:if="${basicProject.id}"><span
				th:text="#{basicProject.form.edit-card-header}"> Basic
					Project - </span> <span th:text="${basicProject.processNumber}"> </span> </span>
		</h4>
		<div class="card-block">
			<form name="f" th:action="@{/basic-project/save}"
				th:object="${basicProject}" method="post" id="basicProjectForm">
				<div th:if="${#fields.hasGlobalErrors()}"
					class="alert alert-danger alert-dismissible">
					<span th:each="err : ${#fields.globalErrors()}" th:text="${err}"></span><br />
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="form-row">
					<div class="col-3" th:if="${basicProject.createdDate != null}">
						<span th:text="#{basicProject.createdDate}"></span>: &nbsp; <span
							th:text="${#temporals.format(basicProject.createdDate, 'dd/MM/yyyy HH:mm')}">...</span>
					</div>
					<div class="col-7" th:if="${basicProject.releasedDateToQuantitiesEvaluation != null}">
						<span th:text="#{basicProject.releasedDateToQuantitiesEvaluation}"></span>: &nbsp; <span
							th:text="${#temporals.format(basicProject.releasedDateToQuantitiesEvaluation, 'dd/MM/yyyy HH:mm')}">...</span>
					</div>
				</div>
				<input type="hidden" th:field="*{id}"> <input type="hidden"
					th:field="*{createdDate}">
				<div>
					<label class="" for="solicitationType"
						th:text="#{basicProject.solicitationType}">Solicitation
						Type</label>
					<div id="solicitationTypeBtns"
						th:class="${#fields.hasErrors('solicitationType')} ? radio-btn-control-invalid">
						<input th:if="*{typeSelectionDisabled}" type="hidden"
							name="solicitationType" id="solicitationType"
							th:field="*{solicitationType}" />
						<div class="form-check form-check-inline">
							<label class="form-check-label"> <input
								th:disabled="*{typeSelectionDisabled}" class="form-check-input"
								type="radio" name="solicitationType" id="solicitationType1"
								value="option1" th:field="*{solicitationType}"
								th:value="PRODUCTS" th:text="#{basicProject.PRODUCTS}">
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label"> <input
								th:disabled="*{typeSelectionDisabled}" class="form-check-input"
								type="radio" name="solicitationType" id="solicitationType2"
								value="option2" th:field="*{solicitationType}"
								th:value="SERVICES" th:text="#{basicProject.SERVICES}">
							</label>
						</div>
					</div>
					<small th:if="${#fields.hasErrors('solicitationType')}"
						th:errors="*{solicitationType}" class="text-danger form-text"></small>
				</div>

				<div class="form-group">
					<label for="unity" th:text="#{basicProject.unity}">Unity</label> <select
						th:errorclass="is-invalid" th:disabled="*{changesDisabled}"
						class="form-control" id="unity" th:field="*{unity}">
						<option th:value="null" th:text="#{basicProject.selectUnity}">Select
							an option</option>
						<option th:each="unity : ${units}" th:value="${unity.id}"
							th:text="${unity.name}">unity</option>
					</select>
					<div class="invalid-feedback" th:errors="*{unity}"></div>
				</div>

				<div class="form-group">
					<label for="object" th:text="#{basicProject.object}">Object</label>
					<input th:disabled="*{changesDisabled}" type="text"
						class="form-control" id="object" th:field="*{object}"
						aria-describedby="objectHelp" placeholder="Enter object"
						th:placeholder="#{basicProject.object}" th:errorclass="is-invalid">
					<div class="invalid-feedback" th:errors="*{object}"></div>
					<small id="objectHelp" class="form-text text-muted"
						th:text="#{basicProject.help.object}">This is the object
						of the basic project</small>
				</div>
				<div class="form-group">
					<label for="justification" th:text="#{basicProject.justification}">Justification</label>
					<input th:disabled="*{changesDisabled}" type="text"
						class="form-control" id="justification"
						placeholder="Enter justification" th:field="*{justification}"
						th:placeholder="#{basicProject.justification}"
						th:errorclass="is-invalid">
					<div class="invalid-feedback" th:errors="*{justification}"></div>
				</div>

				<!-- TODO RNG008 nicolas -->
				<div class="form-group" th:hidden="*{!changesDisabled}">
					<h5>
						<span th:text="#{basicProject.status}">STATUS</span>: <span
							id="status"
							th:text="#{${'basicProject.status.' + basicProject.status}}">N/S</span>
					</h5>
				</div>

				<button type="submit" class="btn btn-primary" id="submit-form"
					th:hidden="*{changesDisabled}">
					<i class="fa fa-save"></i> <span th:text="#{button.save}">Save</span>
				</button>

				<!-- TODO RNG05 nicolas -->
				<button type="button" class="btn btn-warning float-right"
					th:if="*{id != null}" data-toggle="modal" id="release-form"
					data-target="#releaseConfirmationModal" name="action"
					th:hidden="*{changesDisabled}">
					<i class="fa fa-check-square"></i> <span
						th:text="#{basicProject.releaseForEvaluation}">Release for
						evaluation</span>
				</button>
				<div
					th:replace="/basic-project/fragments/releaseConfirmationModal :: main"></div>
			</form>

			<div id="itemsTableHolder">
				<div th:fragment="projectItemsFragment"
					th:replace="/basic-project/fragments/itemsTable :: main"></div>
			</div>
		</div>
	</div>
	<div id="projectItemHolder">
		<div th:fragment="itemModalFragment"
			th:replace="/basic-project/fragments/itemModal :: main"></div>
	</div>
</div>

<th:block layout:fragment="css-view">
	<link th:href="@{/css/data-table.css}" rel="stylesheet">
	<link th:href="@{/css/basic-project.css}" rel="stylesheet">
</th:block>
<th:block layout:fragment="js-view">
	<script th:src="@{/js/basicProjectScripts.js}"></script>
</th:block>
</html>