<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorate="~{/layouts/main}">

<title layout:fragment="head-title"
	th:text="|#{basicProject.list.title} - #{head.title}|">New
	Basic Project</title>

<ol layout:fragment="breadcrumb" class="breadcrumb">
	<li class="breadcrumb-item"><a th:href="@{/home}"
		th:text="#{menu.home}">Home</a></li>
	<li class="breadcrumb-item active"><a th:href="@{/basic-project}"
		th:text="#{menu.basicProjects}">Basic Project</a></li>
</ol>

<div layout:fragment="content">
	<div class="card">
		<h4 class="card-header">
			<span th:text="#{basicProject.list.card-header}">Basic
				Projects</span>
		</h4>
		<div id="paginatedListHolder">
			<div class="card-block" th:fragment="paginatedList">
				<div class="card">
					<div class="card-header card-header-sm"
						th:text="#{pagination.filters}">Filters</div>
					<div class="card-block card-block-sm">
						<form id="searchFilterForm" name="searchFilter"
							th:action="@{${page.url}}" th:object="${filter}" method="get">
							<input type="hidden" th:field="${page.size}" /> <input
								id="pageNumber" type="hidden" th:field="${page.page}" />
							<div class="form-row form-group">
								<div class="col-sm-6">
									<label for="object" th:text="#{basicProject.object}">Object</label>
									<input type="text" class="form-control form-control-sm"
										id="object" th:field="*{object}" placeholder="Enter object"
										th:placeholder="#{basicProject.object}"
										th:errorclass="is-invalid">
								</div>
								<div class="col-sm-6">
									<label for="justification"
										th:text="#{basicProject.justification}">Justification</label>
									<input type="text" class="form-control form-control-sm"
										id="justification" th:field="*{justification}"
										placeholder="Enter justification"
										th:placeholder="#{basicProject.justification}"
										th:errorclass="is-invalid">
								</div>
							</div>
							<div class="form-row">
								<div class="col-12">
									<button type="button" class="btn btn-warning btn-sm "
										onclick="cleanFilters()">
										<i class="fa fa-eraser"></i> <span
											th:text="#{button.cleanFilters}">Clean Filters</span>
									</button>
									<button type="submit" id="submit-search-filters"
										class="btn btn-primary btn-sm float-right">
										<i class="fa fa-search"></i> <span th:text="#{button.search}">Search</span>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div th:if="${listMessage}"
					class="alert alert-success alert-dismissible">
					<span th:text="${listMessage}"></span>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div th:replace="/layouts/fragments/pagination :: tableTop(${page})"></div>
				<div class="table-responsive">
					<table class="table table-bordered table-sm table-striped">
						<thead>
							<tr>
								<th id="action-btn-2" th:text="#{pagination.actions}"></th>
								<th class="sortable"
									onclick="javascript:changeSort('createdDate')"><a
									th:text="#{basicProject.createdDate}">createdDate</a> <i
									class="fa"
									th:classappend="'sorted-' + ${page.getSortDir('createdDate')}"></i></th>
								<th class="sortable" onclick="javascript:changeSort('object')"><a
									th:text="#{basicProject.object}">object</a> <i class="fa"
									th:classappend="'sorted-' + ${page.getSortDir('object')}"></i></th>
								<th class="sortable"
									onclick="javascript:changeSort('solicitationType')"><a
									class="sorted" th:text="#{basicProject.solicitationType}">solicitationType</a><i
									class="fa"
									th:classappend="'sorted-' + ${page.getSortDir('solicitationType')}"></i></th>
								<th class="sortable" onclick="javascript:changeSort('status')"><a
									class="sorted" th:text="#{basicProject.status}">status</a><i
									class="fa"
									th:classappend="'sorted-' + ${page.getSortDir('status')}"></i></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="row : ${page.content}">
								<td><button id="btn-delete" type="button"
										class="btn btn-danger btn-sm"
										th:onclick="'javascript:deleteById(\'' + ${page.url} +'\''+ ', \' ' + ${row.id} +'\' ' +');'">
										<i class="fa fa-trash"></i> <span th:text="#{button.delete}">Delete
											Item</span>
									</button> <a id="btn-edit" type="button"
									class="btn btn-info list-edit-item btn-sm"
									th:href="@{/basic-project/{id}(id=${row.id})}"> <i
										class="fa fa-pencil"></i> <span th:text="#{button.edit}">Edit
											Item</span>
								</a></td>
								<td
									th:text="${#temporals.format(row.createdDate, 'dd/MM/yyyy HH:mm')}">createdDate</td>
								<td th:text="${row.object}">object</td>
								<td th:text="#{${'basicProject.' + row.solicitationType}}">type</td>
								<td><span class="badge-pill text-nowrap"
									th:classAppend="${'badge-'+row.status}"
									th:text="#{${'basicProject.grid.status.' + row.status}}">status</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div
					th:replace="/layouts/fragments/pagination :: tableBottom(${page})"></div>
			</div>
		</div>
		<div
			th:replace="/basic-project/fragments/deleteConfirmationModal :: main"></div>
	</div>
</div>

<th:block layout:fragment="css-view">
	<link th:href="@{/css/data-table.css}" rel="stylesheet">
	<link th:href="@{/css/basic-project.css}" rel="stylesheet">
	<link th:href="@{/css/basic-project-badges.css}" rel="stylesheet">
</th:block>
<th:block layout:fragment="js-view">
	<script th:src="@{/js/paginateTableScripts.js}"></script>
	<script th:src="@{/js/basicProjectScripts.js}"></script>
</th:block>
</html>