<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="/layouts/fragments/scripts :: head"></head>
<body
	class="app header-fixed sidebar-md-show sidebar-fixed footer-fixed breadcrumb-fixed">
	<header th:insert="/layouts/fragments/header :: main"></header>
	<div class="app-body">
		<div th:replace="/layouts/fragments/menu :: main"></div>
		<div class="main">
			<div layout:fragment="breadcrumb"></div>
			<div class="content-header">
				<div th:if="${message}"
					class="alert alert-success alert-dismissible">
					<span th:text="${message}"></span>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div th:if="${errMessage}" class="alert alert-danger"
					th:text="${errMessage}"></div>
			</div>
			<div class="container-fluid" layout:fragment="content"></div>
		</div>
	</div>
	<footer th:insert="/layouts/fragments/footer :: main"></footer>
	<div th:replace="/layouts/fragments/scripts :: javascripts"></div>
</body>
</html>