<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main" class="app-footer">
	<span th:text="#{footer.info}">Info Details</span> <span
		class="ml-auto">Powered by <a href="http://fhgv.com.br" target="_blank"
		th:text="#{footer.sigla}">FHGV</a></span>
</div>