<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="main" class="app-header navbar navbar-dark">
	<button
		class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto text-white"
		type="button">
		<span class="icon-menu"></span>
	</button>
	<a class="logo" th:href="@{/home}"> <img th:src="@{/img/logo.png}"><span
		th:text="#{header.appname}">My App</span></a>
	<button onclick="saveSidebarStatus()"
		class="navbar-toggler sidebar-toggler d-md-down-none text-white"
		type="button">
		<span class="icon-menu"></span>
	</button>
	<ul class="nav navbar-nav d-md-down-none">
		<li class="nav-item px-3"><a class="nav-link" th:href="@{#users}">
				<span th:text="#{menu.users}">Users</span>
		</a></li>
		<li class="nav-item px-3"><a class="nav-link"
			th:href="@{#settings}"> <span th:text="#{menu.settings}">Settings</span></a>
		</li>
	</ul>

	<ul class="nav navbar-nav ml-auto">
		<li class="nav-item dropdown"><a class="system-options nav-link mr-2"
			data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
			aria-expanded="false"> <span
				th:text="#{header.authenticatedUser}">Authenticated User</span>:&nbsp;<span
				th:text="${#authentication.principal.user.username}">root.superuser</span>
		</a>
			<div class="dropdown-menu dropdown-menu-right">
				<div th:replace="/layouts/fragments/header :: language-selection"></div>
				<div class="dropdown-header text-center">
					<strong th:text="#{header.settings}">Settings</strong>
				</div>
				<a class="dropdown-item" href="#"><i class="fa fa-user"></i> <span
					th:text="#{header.profile}">Profile</span></a> <a class="dropdown-item"
					href="#" th:href="@{/logout}"><i class="fa fa-lock"></i><span
					th:text="#{header.logout}">Logout</span></a>
			</div></li>
	</ul>
</nav>

<nav th:fragment="public" class="app-header navbar navbar-dark">
	<a class="logo" th:href="@{/}"> <img src="./img/logo.png"><span
		th:text="#{header.appname}">My App</span></a>
	<ul class="nav navbar-nav d-md-down-none">
	</ul>
	<ul class="nav navbar-nav ml-auto">
		<li class="nav-item dropdown"><a class="system-options nav-link mr-2"
			data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
			aria-expanded="false"> <span th:text="#{header.options}">Options</span>
		</a>
			<div class="dropdown-menu dropdown-menu-right">
				<div th:replace="/layouts/fragments/header :: language-selection"></div>
			</div></li>

	</ul>
</nav>

<th:block th:fragment="language-selection">
	<div class="dropdown-header text-center">
		<strong th:text="#{header.language}">Language</strong>
	</div>
	<a class="dropdown-item pt_BR" href="#" th:href="@{?lang=pt_BR}"
		th:classappend="__${#locale}__=='pt_BR'?'lang-active':''"><i
		class="flag-icon flag-icon-br"></i> <span
		th:text="#{header.language.pt_BR}">Portuguese</span></a>
	<a class="dropdown-item en_US" href="#" th:href="@{?lang=en_US}"
		th:classappend="__${#locale}__=='en_US'?'lang-active':''"><i
		class="flag-icon flag-icon-us"></i><span
		th:text="#{header.language.en_US}">English</span></a>
</th:block>
</html>