<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<aside th:fragment="main" class="sidebar" id="sidebar-menu">
	<nav class="sidebar-nav sidebar-nav ps ps--active-y">
		<ul class="nav">
			<li class="nav-item"><a class="nav-link"
				th:href="@{/basic-project}"
				th:classappend="${!#httpServletRequest.requestURI.contains('/basic-project/new') && #httpServletRequest.requestURI.contains('/basic-project/') ? 'active' : ''}"><i
					class="icon-list"></i><span th:text="#{menu.basicProjects}">
						Basic Projects</span></a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/basic-project/new}"><i class="icon-doc"></i><span
					th:text="#{menu.newBasicProject}">New Basic Project</span></a></li>
			<li
				sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CHEFE_ALMOXARIFADOS')"
				class="nav-item"><a class="nav-link"
				th:href="@{/evaluate-quantities}"
				th:classappend="${#httpServletRequest.requestURI.contains('/evaluate-quantities') ? 'active' : ''}">
					<i class="fa fa-scissors" aria-hidden="true"></i><span
					th:text="#{menu.evaluateQuantities}"> Evaluate quantities</span>
			</a></li>
			<li
				sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CONTABILIDADE')"
				class="nav-item"><a class="nav-link"
				th:href="@{/financial-headings}"
				th:classappend="${#httpServletRequest.requestURI.contains('/financial-headings') ? 'active' : ''}"><i
					class="fa fa-money" aria-hidden="true"></i><span
					th:text="#{menu.financialHeadings}"> Financial Evaluation</span></a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{#/biddings}"><i
					class="fa fa-gavel" aria-hidden="true"></i><span
					th:text="#{menu.biddings}">Biddings</span></a></li>
		</ul>
	</nav>
	<button class="sidebar-minimizer brand-minimizer" type="button"
		onclick="saveSidebarStatus2()"></button>
</aside>