<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
	<title layout:fragment="head-title">Title</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="nicolas.w">
	<meta name="keyword" content="Licitacao">
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
	<!-- Icons -->
	<link th:href="@{/webjars/flag-icon-css/3.0.0/css/flag-icon.min.css}"
		rel="stylesheet">
	<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"
		rel="stylesheet">
	<link th:href="@{/webjars/simple-line-icons/2.4.1/css/simple-line-icons.css}"
		rel="stylesheet">

	<!-- Main styles for this application -->
	<link
		th:href="@{/webjars/coreui__ajax/1.0.10/Static_Full_Project_GULP/src/css/style.min.css}"
		rel="stylesheet">
	<link
		th:href="@{/css/theme-customization.css}"
		rel="stylesheet">
	<!-- Styles required by this views -->
	<th:block layout:fragment="css-view"></th:block>
</head>

<div th:fragment="javascripts">
	<script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ ''; </script>
	<!-- Bootstrap and necessary plugins -->
	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/dist/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/pace/1.0.2/pace.min.js}"></script>
	<script th:src="@{/webjars/chart.js/2.7.1/dist/Chart.min.js}"></script>
	<script th:src="@{/webjars/URI.js/1.14.1/URI.min.js}"></script>
	<script th:src="@{/webjars/URI.js/1.14.1/URITemplate.js}"></script>
	<script	th:src="@{/webjars/js-cookie/2.2.0/js.cookie.js}"></script>

	<!-- CoreUI main scripts -->
	<script	th:src="@{/webjars/coreui__ajax/1.0.10/Static_Full_Project_GULP/src/js/app.js}"></script>

	<script	th:src="@{/js/utilScripts.js}"></script>
	<script	th:src="@{/js/restScripts.js}"></script>
	<!-- Plugins and scripts required by this views -->
	<!-- Custom scripts required by view -->
	<th:block layout:fragment="js-view" />
</div>
</html>