<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- TODO RNG013 nicolas -->
<div th:fragment="main" class="modal fade"
	id="deleteItemConfirmationModal" tabindex="-1" role="dialog"
	aria-labelledby="deleteConfirmationModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="delete-confirmation-modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="delete-confirmation-title"
					th:text="#{bpItem.deleteConfirmation.title}">Are you
					sure?</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"
					th:text="#{button.no}">No</button>
				<button type="submit" class="btn btn-primary"
					id="submit-yes" th:text="#{button.yes}">Yes</button>
			</div>
		</div>
	</div>
</div>
</html>