<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="main" id="items-section" th:if="${basicProject.id}">

	<!-- TODO RNG003 nicolas -->
	<!-- TODO RNG008 nicolas -->
	<button type="button" class="btn btn-primary float-right list-add-item"
		th:onclick="'javascript:viewBasicProjectItem(\'' + ${basicProject.id} +'\''+ ', \'new\' ' +');'"
		id="addItem" th:hidden="${basicProject.changesDisabled}">
		<i class="fa fa-plus"></i> <span th:text="#{bpItem.addItem}">Add
			Item</span>
	</button>

	<form th:object="${basicProject}" name="tableDeleteItems"
		th:hidden="${#lists.isEmpty(basicProject.basicProjectItems)}"
		th:action="@{/basic-project/{id}/item/delete-items(id=${basicProject.id})}"
		method="post" id="tableDeleteItems">
		<!-- TODO RNG002 nicolas -->
		<table class="table table-bordered table-sm table-striped">
			<thead>
				<tr>
					<th class="text-center" th:hidden="${basicProject.changesDisabled}">-</th>
					<th id="action-btn" th:text="#{bpItem.action}"
						th:hidden="${basicProject.changesDisabled}">Action</th>
					<th th:text="#{bpItem.itemNumber}">Item Number</th>
					<th th:text="#{bpItem.name}">Name</th>
					<th th:text="#{bpItem.quantity}">Quantity</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="item, stat : *{basicProjectItems}">
					<td class="text-center" th:hidden="${basicProject.changesDisabled}"><input
						type="checkbox"
						th:field="*{basicProjectItems[__${stat.index}__].selected}" /> <input
						type="hidden"
						th:field="*{basicProjectItems[__${stat.index}__].id}" /></td>
					<td class="text-center" th:hidden="${basicProject.changesDisabled}">
						<button type="button" class="btn btn-info list-edit-item btn-sm"
							th:onclick="'javascript:viewBasicProjectItem(\'' + ${basicProject.id} +'\''+ ', \' ' + ${item.id} +'\' ' +');'"
							id="editItem">
							<i class="fa fa-pencil"></i> <span th:text="#{bpItem.editItem}">Edit
								Item</span>
						</button>
					</td>
					<td data-th-text="${item.itemNumber}">...</td>
					<td data-th-text="${item.name}">...</td>
					<td data-th-text="${item.quantity}">...</td>
				</tr>
			</tbody>
		</table>
		<button type="button"
			th:disabled="${#lists.isEmpty(basicProject.basicProjectItems)}"
			class="btn btn-danger float-right" id="removeSelecteds"
			th:hidden="${basicProject.changesDisabled}" data-toggle="modal"
			data-target="#deleteItemConfirmationModal">
			<i class="fa fa-trash"></i> <span th:text="#{bpItem.removeSelecteds}">Remove
				Selecteds</span>
		</button>
		<div th:replace="/basic-project/fragments/deleteItemConfirmationModal :: main"></div>
	</form>
</div>
</html>