<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- TODO RNG003 nicolas -->
<div th:fragment="main" class="modal" id="projectItemModal">
	<div class="modal-dialog" role="document">
		<form name="f" th:object="${basicProjectItem}" method="post"
			id="basicProjectItemForm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 th:if="*{id == null}" class="modal-title"
						th:text="#{${'bpItem.addItemModalTitle.' + basicProject.solicitationType}}">Add
						Item</h5>
					<h5 th:if="*{id != null}" class="modal-title"
						th:text="#{${'bpItem.editItemModalTitle.' + basicProject.solicitationType}}">Edit
						Item</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div th:if="${modalMessage}"
						class="alert alert-success alert-dismissible">
						<span th:text="${modalMessage}"></span>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div th:if="${#fields.hasGlobalErrors()}"
						class="alert alert-danger alert-dismissible">
						<span th:each="err : ${#fields.globalErrors()}" th:text="${err}"></span><br />
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<input type="hidden" th:field="*{id}"> <input type="hidden"
						th:field="*{basicProject.id}">
					<div
						th:if="${#strings.toString(basicProjectItem.solicitationType) == 'SERVICES'}">
						<div class="form-group">
							<label for="itemNumber" th:text="#{bpItem.itemNumber}">Item
								Number</label> <input type="number" class="form-control" id="itemNumber"
								th:field="*{itemNumber}" placeholder="Enter item number"
								th:placeholder="#{bpItem.itemNumber}" th:errorclass="is-invalid">
							<div class="invalid-feedback" th:errors="*{itemNumber}"></div>
						</div>
						<div class="form-group">
							<label for="name" th:text="#{bpItem.name}">Name</label> <input
								type="text" class="form-control" id="name"
								placeholder="Enter name" th:field="*{name}"
								th:placeholder="#{bpItem.name}" th:errorclass="is-invalid">
							<div class="invalid-feedback" th:errors="*{name}"></div>
						</div>
						<div class="form-group">
							<label for="description" th:text="#{bpItem.description}">Description</label>
							<input type="text" class="form-control" id="description"
								placeholder="Enter description" th:field="*{description}"
								th:placeholder="#{bpItem.description}"
								th:errorclass="is-invalid">
							<div class="invalid-feedback" th:errors="*{description}"></div>
						</div>
					</div>
					<div
						th:if="${#strings.toString(basicProjectItem.solicitationType) == 'PRODUCTS'}">
						<div class="form-group">
							<label for="sighProduct" th:text="#{bpItem.sighProduct}">SIGH
								Product</label> <select th:errorclass="is-invalid"
								onChange="onChangeProduct();" class="form-control"
								id="sighProduct" th:field="*{sighProduct}">
								<option th:value="null" th:text="#{bbItem.selectSighProduct}">Select
									an option</option>
								<option th:each="product : ${products}" th:value="${product.id}"
									th:text="${product.id} + ' - ' + ${product.name}">sighProduct</option>
							</select>
							<div class="invalid-feedback" th:errors="*{sighProduct}"></div>
						</div>
						<div class="form-group">
							<label for="itemNumber" th:text="#{bpItem.itemNumber}">Item
								Number</label> <input readonly type="number" class="form-control"
								id="itemNumber" th:field="*{itemNumber}"
								placeholder="Enter item number"
								th:placeholder="#{bpItem.itemNumber}">
						</div>
						<div class="form-group">
							<label for="name" th:text="#{bpItem.name}">Name</label> <input
								readonly type="text" class="form-control" id="name"
								placeholder="Enter name" th:field="*{name}"
								th:placeholder="#{bpItem.name}">
						</div>
						<div class="form-group">
							<label for="description" th:text="#{bpItem.description}">Description</label>
							<input readonly type="text" class="form-control" id="description"
								placeholder="Enter description" th:field="*{description}"
								th:placeholder="#{bpItem.description}">
						</div>
					</div>
					<div class="form-group">
						<label for="quantity" th:text="#{bpItem.quantity}">Quantity</label>
						<input type="number" class="form-control" id="quantity"
							th:field="*{quantity}" placeholder="Enter quantity"
							th:placeholder="#{bpItem.quantity}" th:errorclass="is-invalid">
						<div class="invalid-feedback" th:errors="*{quantity}"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">
						<i class="fa fa-window-close"></i> <span th:text="#{button.close}">Close</span>
					</button>
					<button type="button" class="btn btn-primary" id="submit-modal"
						th:onclick="'javascript:saveBasicProjectItem(\'' + ${basicProjectItem.basicProject.id} +'\''+ ', ' + ${basicProjectItem.id} +' ' +');'">
						<i class="fa fa-save"></i> <span th:text="#{button.save}">Save</span>
					</button>
				</div>
			</div>
		</form>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		function onChangeProduct() {
			var products = /*[[${products}]]*/null;
			var selectedIndex = $("#sighProduct option:selected").index();
			if (selectedIndex != 0) {
				var sighProduct = products[selectedIndex - 1];
				$("#itemNumber").val(sighProduct.id);
				$("#name").val(sighProduct.name);
				$("#description").val(sighProduct.description);
			} else {
				$("#itemNumber").val("");
				$("#name").val("");
				$("#description").val("");
			}
		}
		/*]]>*/
	</script>
</div>
</html>