<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main}">

<title layout:fragment="head-title" th:text="#{user.profile}">Profile</title>

<ol layout:fragment="breadcrumb" class="breadcrumb">
	<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
	<li class="breadcrumb-item"><a th:href="@{/user/profile}"
		th:text="#{user.profile}">User Profile</a></li>
</ol>

<div layout:fragment="content">
	<div class="card">
		<h4 class="card-header">
			<span th:text="#{user.profile}">Profile</span>
		</h4>
		<div class="card-block"></div>
	</div>
</div>
</html>

