<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<table>
	<tr th:fragment="itemRow" th:id="'itemsTableHolder-'+${item.id}"
		th:class="${item.hasError} ? 'item-error' : ''">
		<td data-th-text="${item.itemNumber}">...</td>
		<td data-th-text="${item.name}">...</td>
		<td th:id="'quantity-'+${item.id}" data-th-text="${item.quantity}"
			class="text-center">...</td>
		<td th:id="'quantity-approved-'+${item.id}"
			data-th-text="${item.quantityApproved}" class="text-center">...</td>

		<td id="item-heading"><span
			data-th-text="${item.financialHeading}"
			th:id="'span-heading-'+${item.id}">financial heading</span> <input
			type="text" class="hiddenMode" th:id="'input-heading-'+${item.id}"
			th:value="${item.financialHeading}"
			onkeypress="return event.keyCode != 13;" /></td>

		<td th:if="${!item.basicProject?.financialEvaluationDisabled}"
			th:id="'common-mode-'+${item.id}" class="evaluate-btns"><a
			id="btn-edit-item" type="button" class="btn btn-info btn-sm"
			th:onclick="'javascript:editQuantity(' + ${item.id} + ');'"> <i
				class="icon-pencil"></i> <span
				th:text="#{financialHeadings.btn.editHeading}">Edit</span>
		</a></td>
		<td th:id="'edit-mode-'+${item.id}" class="hiddenMode"><a
			id="btn-edit-confirm" type="button" class="btn btn-warning btn-sm"
			th:onclick="'javascript:editHeadingOk(' + ${item.id} + ');'"> <i
				class="fa fa-check"></i> <span
				th:text="#{evaluateQuantities.btn.editOk}">Ok Edit</span>
		</a> <a id="btn-edit-cancel" type="button"
			class="btn btn-secondary btn-sm"
			th:onclick="'javascript:editQuantityCancel(' + ${item.id} + ');'">
				<i class="fa fa-times"></i> <span
				th:text="#{evaluateQuantities.btn.editCancel}">Cancel Edit</span>
		</a></td>
	</tr>
</table>
</html>