<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="main" id="items-section">
	<div
		th:hidden="${#lists.isEmpty(basicProject.approvedBasicProjectItems)}">
		<table class="table table-bordered table-sm table-striped">
			<thead>
				<tr>
					<th th:text="#{bpItem.itemNumber}">Item Number</th>
					<th th:text="#{bpItem.name}">Name</th>
					<th th:text="#{bpItem.requestedQuantity}">Requested Quantity</th>
					<th th:text="#{bpItem.approvedQuantity}">Evaluated Quantity</th>
					<th th:text="#{bpItem.heading}">Heading</th>
					<th
						th:if="${#strings.equals(basicProject.status, 'WAITING_FINANCIAL_HEADING')}"
						th:text="#{bpItem.action}">Action</th>
				</tr>
			</thead>
			<tbody>
				<th:block data-th-each="item, stat : *{approvedBasicProjectItems}"
					th:insert="/evaluate-financial-headings/fragments/itemRow :: itemRow">
				</th:block>
			</tbody>
		</table>
	</div>
</div>
</html>