<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="main" class="modal fade"
	id="returnToQuantitiesEvaluationConfirmationModal" tabindex="-1"
	role="dialog"
	aria-labelledby="returnToQuantitiesEvaluationConfirmationModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="submit-confirmation-modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="submit-confirmation-title"
					th:text="#{financialHeadings.returnToQuantitiesEvaluationConfirmation.title}">Are
					you sure?</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h6 id="submit-confirmation-text"
					th:text="#{financialHeadings.returnToQuantitiesEvaluationConfirmation.message}">After
					approve it, you will no longer be possible to change any
					information.</h6>
				<label class="control-label" for="returnReason"
					th:text="#{financialHeadings.returnReason}">Description</label>:
				<textarea id="returnReason" class="form-control" rows="3"
					th:field="*{returnReason}"></textarea>
				<small id="returnReasonHelp" class="form-text text-muted"
						th:text="#{financialHeadings.help.returnReason}">Justify the reason for the return of the basic project for stage of the quantity evaluation.</small>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"
					th:text="#{button.no}">No</button>
				<button type="submit" class="btn btn-primary" name="action"
					id="submit-yes" value="release" th:text="#{button.yes}">Yes</button>
			</div>
		</div>
	</div>
</div>
</html>