<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main}">

<title layout:fragment="head-title"
	th:text="|#{financialHeadings.title} - #{head.title}|">Evaluate
	Financial Headings</title>

<ol layout:fragment="breadcrumb" class="breadcrumb">
	<li class="breadcrumb-item"><a th:href="@{/home}"
		th:text="#{menu.home}">Home</a></li>
	<li class="breadcrumb-item active"><a
		th:href="@{/financial-headings}" th:text="#{financialHeadings.title}">Financial
			Headings</a></li>
	<li class="breadcrumb-item active" th:if="${basicProject.id != null}"><a
		th:href="@{/financial-headings/{id}(id=${basicProject.id})}"><span
			th:text="#{basicProject.breadcrumb}">Basic Project</span>&nbsp;<span
			th:text="${basicProject.id}"></span></a></li>
</ol>

<div layout:fragment="content">
	<div class="card">
		<h4 class="card-header">
			<span th:text="#{basicProject.form.edit-card-header}"> Basic
				Project - </span> <span th:text="${basicProject.processNumber}"> </span>
		</h4>
		<div class="card-block">
			<div class="form-row">
				<div class="col-8">
					<div class="form-row">
						<div class="col-12">
							<span th:text="#{financialHeadings.requesterUser}">Requester</span>:
							&nbsp; <span th:text="${basicProject.requester?.name}"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12"
							th:if="${basicProject.releasedDateToFinancialEvaluation != null}">
							<span
								th:text="#{financialHeadings.releasedDateToFinancialEvaluation}"></span>:
							&nbsp; <span
								th:text="${#temporals.format(basicProject.releasedDateToFinancialEvaluation, 'dd/MM/yyyy HH:mm')}">...</span>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12">
							<span th:text="#{financialHeadings.solicitationType}">Solicitation
								Type</span>: &nbsp; <span
								th:text="#{${'basicProject.'+basicProject.solicitationType}}"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12">
							<span th:text="#{financialHeadings.unity}">Unity</span>: &nbsp; <span
								th:text="${basicProject.unity?.name}"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12">
							<span th:text="#{financialHeadings.object}">Object</span>: &nbsp;
							<span th:text="${basicProject.object}"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12">
							<span th:text="#{financialHeadings.justification}">Justification</span>:
							&nbsp; <span th:text="${basicProject.justification}"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12">
							<span th:text="#{financialHeadings.status}">STATUS</span>: <span
								id="status"
								th:text="#{${'basicProject.status.' + basicProject.status}}">N/S</span>
						</div>
					</div>
				</div>
			</div>
			<form name="f" th:object="${basicProject}" method="post"
				id="basicProjectForm">
				<div th:if="${!#lists.isEmpty(errors)}"
					class="alert alert-danger alert-dismissible">
					<span th:each="err : ${errors}" th:text="${err}"></span><br />
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div id="itemsTableHolder">
					<div th:fragment="projectItemsFragment"
						th:replace="/evaluate-financial-headings/fragments/itemsTable :: main"></div>
				</div>
			</form>
			<form
				th:action="@{/financial-headings/return-to-quantities-evaluation}"
				th:object="${basicProject}" method="post" id="basicProjectForm1">
				<input type="hidden" th:field="*{id}" />
				<button type="button" class="btn btn-danger float-left"
					th:if="*{id != null && !financialEvaluationDisabled}"
					data-toggle="modal" id="return-form"
					data-target="#returnToQuantitiesEvaluationConfirmationModal"
					name="action">
					<i class="fa fa-undo"></i> <span
						th:text="#{financialHeadings.btn.returnToQuantitiesEvaluation}">Return
						basic project to quantities evaluation</span>
				</button>
				<div
					th:replace="/evaluate-financial-headings/fragments/returnToQuantitiesEvaluationConfirmationModal :: main"></div>
			</form>
			<form th:action="@{/financial-headings/approve-for-biddings}"
				th:object="${basicProject}" method="post" id="basicProjectForm2">
				<input type="hidden" th:field="*{id}" />
				<button type="button" class="btn btn-warning float-right"
					th:if="*{id != null && !financialEvaluationDisabled}"
					data-toggle="modal" id="approve-form"
					data-target="#approveForBiddingsConfirmationModal" name="action">
					<i class="fa fa-check-square"></i> <span
						th:text="#{financialHeadings.btn.approveForBiddings}">Approve
						for biddings</span>
				</button>
			<div
				th:replace="/evaluate-financial-headings/fragments/approveForBiddingsConfirmationModal :: main"></div>
			</form>
		</div>
	</div>
</div>

<th:block layout:fragment="css-view">
	<link th:href="@{/css/data-table.css}" rel="stylesheet">
	<link th:href="@{/css/basic-project.css}" rel="stylesheet">
	<link th:href="@{/css/evaluate-quantities.css}" rel="stylesheet">
</th:block>
<th:block layout:fragment="js-view">
	<script th:src="@{/js/evaluateFinancialHeadingsScripts.js}"></script>
</th:block>
</html>