<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorate="~{/layouts/main}">

<title layout:fragment="head-title"
	th:text="|#{financialHeadings.title} - #{head.title}|">Financial
	headings evaluation</title>

<ol layout:fragment="breadcrumb" class="breadcrumb">
	<li class="breadcrumb-item"><a th:href="@{/home}"
		th:text="#{menu.home}">Home</a></li>
	<li class="breadcrumb-item active"><a
		th:href="@{/financial-headings}" th:text="#{financialHeadings.title}">Financial
			Headings</a></li>
</ol>

<div layout:fragment="content">
	<div class="card">
		<h4 class="card-header">
			<span th:text="#{financialHeadings.list.card-header}">Basic
				Projects - Evaluate Quantities</span>
		</h4>
		<div id="paginatedListHolder">
			<div class="card-block" th:fragment="paginatedList">
				<div class="card">
					<div class="card-header card-header-sm"
						th:text="#{pagination.filters}">Filters</div>
					<div class="card-block card-block-sm">
						<form id="searchFilterForm" name="searchFilter"
							th:action="@{${page.url}}" th:object="${filter}" method="get">
							<input type="hidden" th:field="${page.size}" /> <input
								id="pageNumber" type="hidden" th:field="${page.page}" />
							<div class="form-row form-group">
								<div class="col-sm-6">
									<label for="releasedDateStart"
										th:text="#{financialHeadings.releasedDateStart}">Released
										Date Start</label> <input type="date"
										class="form-control form-control-sm" id="releasedDateStart"
										th:field="*{releasedDateStart}" placeholder="dd/mm/yyyy"
										th:errorclass="is-invalid">
								</div>
								<div class="col-sm-6">
									<label for="releasedDateEnd"
										th:text="#{financialHeadings.releasedDateEnd}">Released
										Date End</label> <input type="date"
										class="form-control form-control-sm" id="releasedDateEnd"
										th:field="*{releasedDateEnd}" placeholder="dd/mm/yyyy"
										th:errorclass="is-invalid">
								</div>
								<div class="col-sm-6">
									<label for="object" th:text="#{financialHeadings.object}">Object</label>
									<input type="text" class="form-control form-control-sm"
										id="object" th:field="*{object}" placeholder="Enter object"
										th:placeholder="#{financialHeadings.object}"
										th:errorclass="is-invalid">
								</div>
							</div>
							<div class="form-row">
								<div class="col-12">
									<button type="button" class="btn btn-warning btn-sm "
										onclick="cleanFilters()">
										<i class="fa fa-eraser"></i> <span
											th:text="#{button.cleanFilters}">Clean Filters</span>
									</button>
									<button type="submit" id="submit-search-filters"
										class="btn btn-primary btn-sm float-right">
										<i class="fa fa-search"></i> <span th:text="#{button.search}">Search</span>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div th:if="${listMessage}"
					class="alert alert-success alert-dismissible">
					<span th:text="${listMessage}"></span>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div th:replace="/layouts/fragments/pagination :: tableTop(${page})"></div>
				<div class="table-responsive">
					<table class="table table-bordered table-sm table-striped">
						<thead>
							<tr>
								<th id="action-btn" th:text="#{pagination.actions}"></th>
								<th class="sortable"
									th:onclick="'javascript:changeSort(\'releasedDateToFinancialEvaluation\', \''+ ${page.getSortDir('releasedDateToFinancialEvaluation')} + '\')'"><a
									th:text="#{financialHeadings.releasedDateToFinancialEvaluation}">releasedDateToFinancialEvaluation</a>
									<i class="fa"
									th:classappend="'sorted-' + ${page.getSortDir('releasedDateToFinancialEvaluation')}"></i></th>
								<th class="sortable"
									onclick="javascript:changeSort('requester')"><a
									th:text="#{financialHeadings.requester}">requester</a> <i
									class="fa"
									th:classappend="'sorted-' + ${page.getSortDir('requester')}"></i></th>
								<th class="sortable" onclick="javascript:changeSort('object')"><a
									th:text="#{financialHeadings.object}">object</a> <i class="fa"
									th:classappend="'sorted-' + ${page.getSortDir('object')}"></i></th>
								<th class="sortable"
									onclick="javascript:changeSort('solicitationType')"><a
									class="sorted" th:text="#{financialHeadings.solicitationType}">solicitationType</a><i
									class="fa"
									th:classappend="'sorted-' + ${page.getSortDir('solicitationType')}"></i></th>
								<th class="sortable" onclick="javascript:changeSort('status')"><a
									class="sorted" th:text="#{financialHeadings.status}">status</a><i
									class="fa"
									th:classappend="'sorted-' + ${page.getSortDir('status')}"></i></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="row : ${page.content}">
								<td><span th:if="*{row.financialEvaluationDisabled}"><a
										id="btn-edit" type="button"
										class="btn btn-info btn-sm btn-block"
										th:href="@{/{url}/{id}(url=${page.url},id=${row.id})}"> <i
											class="icon-eye"></i> <span
											th:text="#{financialHeadings.btn.viewItems}">View
												Items</span>
									</a></span> <span th:if="*{!row.financialEvaluationDisabled}"><a
										id="btn-edit" type="button"
										class="btn btn-success btn-sm btn-block"
										th:href="@{/{url}/{id}(url=${page.url},id=${row.id})}"> <i
											class="icon-note"></i> <span
											th:text="#{financialHeadings.btn.headingsEvaluation}">Headings
												evaluation</span>
									</a></span></td>
								<td
									th:text="${#temporals.format(row.releasedDateToFinancialEvaluation, 'dd/MM/yyyy HH:mm')}">releasedDateToFinancialEvaluation</td>
								<td th:text="${row.requester.name}">requester</td>
								<td th:text="${row.object}">object</td>
								<td th:text="#{${'financialHeadings.' + row.solicitationType}}">type</td>
								<td><span class="badge-pill"
									th:classAppend="${'badge-'+row.status}"
									th:text="#{${'basicProject.grid.status.' + row.status}}">status</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div
					th:replace="/layouts/fragments/pagination :: tableBottom(${page})"></div>
			</div>
		</div>
		<div
			th:replace="/basic-project/fragments/deleteConfirmationModal :: main"></div>
	</div>
</div>

<th:block layout:fragment="css-view">
	<link th:href="@{/css/data-table.css}" rel="stylesheet">
	<link th:href="@{/css/basic-project-badges.css}" rel="stylesheet">
</th:block>
<th:block layout:fragment="js-view">
	<script th:src="@{/js/paginateTableScripts.js}"></script>
	<script th:src="@{/js/basicProjectScripts.js}"></script>
</th:block>
</html>