.list-add-item {
	margin-top: 5px;
	margin-bottom: 5px;
}

#status {
	color: red;
	font-weight: bold;
}

#solicitationTypeBtns {
	display: inline-block;
	padding: .375rem .75rem .375rem .75rem;
	font-size: .875rem;
	line-height: 1.5;
}

.radio-btn-control-invalid {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: .875rem;
	line-height: 1.5;
	color: #3e515b;
	background-color: #fff;
	border: 1px solid #f86c6b;
	border-radius: 0;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#btn-delete {
	margin-right: 2px;
}