.badge-DRAFT {
	color: #000000;
	background-color: #c0c0c0;
}

.badge-QUANTITY_EVALUATION {
	color: #ffffff;
	background-color: #ff6000;
}

.badge-QUANTITIES_REVALUATION {
	color: #ffffff;
	background-color: #ac3c0b;
}

.badge-WAITING_FINANCIAL_HEADING {
	color: #fff;
	background-color: #be0501;
}

.badge-APPROVED_FOR_BIDDING {
	color: #fff;
	background-color: #008080;
}
.badge-CANCELED {
	color: #fff;
	background-color: #ff8080;
}