/** sort icon in tables */
.sortable:hover {
	cursor: pointer;
}

.sorted-null, .sorted-DESC, .sorted-ASC {
	float: right;
	margin-top: 2px;
}

.sorted-null::after {
	content: "\f0dc";
}

.sorted-DESC::after {
	content: "\25BC";
}

.sorted-ASC::after {
	content: "\25B2";
}

.table-top {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
}

.page-size-selector {
	display: inline-block;
}

/* My custom options to use in tables */
#action-btn {
	width: 1px;
}

#action-btn-2 {
	width: 145px;
}
