.hiddenMode {
	display: none;
}

.item-status-color-false {
	color: #dc3545;
}

.item-status-color-true {
	color: #28a745;
}

.item-status-color-null {
	color: #6c757d;
}

.item-error {
	background-color: #f18585 !important;
}

#basicProjectForm {
	margin-top: .75rem;
}

.evaluate-btns {
	width: 245px;
}

.evaluate-form-btns {
	margin-top: 0.5rem;
}

.btn-export {
	color: #000;
	background-color: #4dbd74;
	border-color: #4dbd74;
}

#returnReasonText{
	margin-top: 0.5rem;
}