.logo>img {
	margin-left: 0.5rem;
	height: 30px;
	vertical-align: text-bottom;
}

.logo>span {
	color: white;
	font-size: 20px;
}

.logo:hover {
	text-decoration: #00ffff;
}

.header-fixed .app-header {
	background-color: #1d7140;
}

.app-header.navbar {
	border-bottom-color: green;
}

.navbar-toggler {
	border: none;
	margin-left: 1px;
}

/** aumenta a largura da tag nav dos menus */

.sidebar .nav {
	width: 230px;
}

.sidebar-mobile-show .main {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

/** if breadcrumb is NOT present in page */

.container-fluid:first-child {
	margin-top: 1.5rem;
}

.btn-primary {
	background-color: #228B22;
}

.btn-primary:hover {
	background-color: #228B22CC;
}

.btn-primary:active {
	background-color: #228B2280 !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #228B22CC;
	border-color: #20a8d8;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #228B2299;
	border-color: #187da0;
}

.nav-link {
	font-weight: bold;
}

.nav-link:hover {
	text-decoration: underline;
	color: #fff;
}

.main .container-fluid {
	padding: 0 20px;
}

.content-header {
	margin: 0 20px;
}

.form-group {
	margin-bottom: .5rem;
}

.card-header-sm {
	padding: 0.25rem 1.05rem;
}

.card-block-sm {
	padding: 0.5rem 1.05rem;
}

.lang-active,
.lang-active:hover {
	color: #fff;
	text-decoration: none;
	background-color: #5d8e9f;
}