<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<table>
	<tr th:fragment="itemRow" th:id="'itemsTableHolder-'+${item.id}"
		th:class="${item.hasError} ? 'item-error' : ''">
		<td data-th-text="${item.itemNumber}">...</td>
		<td data-th-text="${item.name}">...</td>
		<td th:id="'quantity-'+${item.id}" data-th-text="${item.quantity}" class="text-center requested-quantity">...</td>
		<td class="text-center"><span data-th-text="${item.quantityApproved}"
			th:id="'span-evaluate-'+${item.id}" class="approved-quantity"></span> <input type="number"
			class="hiddenMode input-quantity" th:id="'input-evaluate-'+${item.id}"
			th:value="${item.quantityApproved}"
			onkeypress="return event.keyCode != 13;" /></td>
		<td id="item-status"><span th:class="'item-status-color-'+${item.approved}" th:text="#{'evaluateQuantities.status.'+${item.approved}}"></span></td>
		<td th:if="${!item.basicProject?.quantitiesEvaluationDisabled}" th:id="'common-mode-'+${item.id}" class="evaluate-btns">
		<!-- TODO nicolas RNG017 -->
		<a id="btn-edit-item" type="button"
			class="btn btn-info btn-sm"
			th:onclick="'javascript:editQuantity(' + ${item.id} + ');'"> <i
				class="icon-pencil"></i> <span
				th:text="#{evaluateQuantities.btn.edit}">Edit</span>
		</a>
		<a id="btn-approve" type="button"
			class="btn btn-success btn-sm" th:if="not ${item.approved}"
			th:onclick="'javascript:approveItem(' + ${item.id} + ');'"><span
				th:text="#{evaluateQuantities.btn.approve}">Approve</span> <i
				class="fa fa-thumbs-up"></i> </a> <a th:if="${item.approved == null || item.approved}"
			id="btn-disapprove" type="button"
			class="btn btn-danger btn-sm"
			th:onclick="'javascript:disapproveItem(' + ${item.id} + ');'"> <span
				th:text="#{evaluateQuantities.btn.disapprove}">Disapprove</span> <i
				class="fa fa-thumbs-down"></i>
		</a></td>
		<td th:id="'edit-mode-'+${item.id}" class="hiddenMode"><a
			id="btn-edit-confirm" type="button"
			class="btn btn-warning btn-sm"
			th:onclick="'javascript:editQuantityOk(' + ${item.id} + ');'"> <i
				class="fa fa-check"></i> <span
				th:text="#{evaluateQuantities.btn.editOk}">Ok Edit</span>
		</a> <a id="btn-edit-cancel" type="button"
			class="btn btn-secondary btn-sm"
			th:onclick="'javascript:editQuantityCancel(' + ${item.id} + ');'">
				<i class="fa fa-times"></i> <span
				th:text="#{evaluateQuantities.btn.editCancel}">Cancel Edit</span>
		</a></td>
	</tr>
</table>
</html>