<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="main" id="items-section">
	<div th:hidden="${#lists.isEmpty(basicProject.basicProjectItems)}">
		<table class="table table-bordered table-sm table-striped">
			<thead>
				<tr>
					<th th:text="#{bpItem.itemNumber}">Item Number</th>
					<th th:text="#{bpItem.name}">Name</th>
					<th th:text="#{bpItem.requestedQuantity}">Requested Quantity</th>
					<th th:text="#{bpItem.approvedQuantity}">Evaluated Quantity</th>
					<th th:text="#{bpItem.status}">Status</th>
					<th th:if="${basicProject.status == 'QUANTITY_EVALUATION'}" id="action-btn-3" th:text="#{bpItem.action}">Action</th>
				</tr>
			</thead>
			<tbody>
				<th:block data-th-each="item, stat : *{basicProjectItems}"
					th:insert="/evaluate-quantities/fragments/itemRow :: itemRow">
				</th:block>
			</tbody>
		</table>
	</div>
</div>
</html>