<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="main" class="modal fade"
	id="releaseConfirmationModal" tabindex="-1" role="dialog"
	aria-labelledby="releaseConfirmationModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="submit-confirmation-modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="submit-confirmation-title"
					th:text="#{evaluateQuantities.releaseConfirmation.title}">Are you
					sure?</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h6 id="submit-confirmation-text"
					th:text="#{evaluateQuantities.releaseConfirmation.message}">After
					sending it will no longer be possible to change any information.</h6>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"
					th:text="#{button.no}">No</button>
				<button type="submit" class="btn btn-primary" name="action"
					id="submit-yes" value="release" th:text="#{button.yes}">Yes</button>
			</div>
		</div>
	</div>
</div>
</html>