<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main}">
<title layout:fragment="head-title"
	th:text="|#{index.title} - #{head.title}|"></title>

<ol layout:fragment="breadcrumb">
</ol>

<div layout:fragment="content">
	<div class="row">
		<div class="col-12 text-center">
			<img src="./img/bg-home.png" width="50%"
				style="margin-top: -1rem; margin-bottom: 2rem" /> <br>
		</div>
		<div class="col-8 m-auto">
			<div class="card">
				<h4 class="card-header">
					<a th:href="@{/basic-project}"><span th:text="#{home.basicProject.statusCounter}">Status of
						my basic projects</span></a>
				</h4>
				<div class="card-block">
					<table class="table table-bordered table-sm table-striped">
						<thead>
							<tr>
								<th th:text="#{home.basicProject.status}">Status</th>
								<th th:text="#{home.basicProject.quantity}">Quantity</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="statusEntry : ${basicProjectsCounters}">
								<td><span
									th:text="#{${'basicProject.status.' + statusEntry[0]}}"></span></td>
								<td><span th:text="${statusEntry[1]}"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</html>