<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/public-main}">
<title layout:fragment="head-title"
	th:text="|#{index.title} - #{head.title}|"></title>
<div layout:fragment="breadcrumb"></div>

<div layout:fragment="content">
	<section class="landing-content">
		<span th:text="#{landing.welcome}">welcome</span>
		<br>
		<img src="./img/bg-home.png" width="50%"
		style="margin-top: 5%; margin-bottom: 5%" />
		<br>
		<span><a th:href="@{/home}" th:text="#{landing.link-home}">Clique aqui para acessar o sistema</a></span>
		<div>
			<span th:text="#{landing.info}">info</span>
		</div>
	</section>
</div>

<th:block layout:fragment="css-view">
	<link th:href="@{/css/landing-page.css}" rel="stylesheet">
</th:block>
</html>