<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/public-main}">

<th:block layout:fragment="css-view">
	<style>
.login-form {
	margin-top: 1%;
	margin-right: 15%;
	margin-left: 15%;
}
</style>
</th:block>

<title layout:fragment="head-title" th:text="|#{login.title} - #{head.title}|"></title>

<div layout:fragment="content">
	<div class="card login-form">
		<h4 class="card-header" th:text="#{login.card-header}">Login Form</h4>
		<div class="card-block">
			<div>
				<span th:text="#{login.info}"></span>
			</div>
			<form name="f" th:action="@{/login}" method="post" id="login-form"
				class="form-signin">

				<div th:if="${param.error}" class="alert alert-danger">
					<span th:text="#{login.error}"></span>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div th:if="${param.logout}" class="alert alert-info"
					th:text="#{login.disconnect}"></div>


				<div class="form-group has-feedback">
					<label for="username" th:text="#{login.username}">Username</label>
					<input type="text" id="username" name="username"
						class="form-control" th:placeholder="#{login.username}" required
						value="user" /> <span
						class="glyphicon glyphicon-user form-control-feedback"></span>

				</div>

				<div class="form-group has-feedback">
					<label for="password" th:text="#{login.password}">Password</label>
					<input type="password" id="password" name="password"
						class="form-control" th:placeholder="#{login.password}" required
						value="user" /> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary btn-block btn-flat"
							id="submit-button" th:text="#{login.enter}">Login</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</html>
